
.st-list {
    .st-list__item {
        cursor: default;

        &:hover {
            background: var(--st-background-hover);
        }
    }

    .st-list__selected {
        background: var(--st-background-focus) !important;
    }
}

.st-text--header {
    background: var(--st-primary);
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
}

.st-text--section {
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.st-input--full {
    width: 100%;
}


.st-text--underline {
    text-decoration: underline;
}

.st-button {
    &:disabled {
        color: var(--st-text-dim);
        filter: brightness(80%);
    }

    &.st-button--icon {
        & > i {
            float: right;
        }
    }
}

@keyframes st-spin__kf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.st-spin {
    animation: st-spin__kf 2s infinite linear;
}

.st-list--full {
    width: 100%;

    & > .st-list__section {
        width: 100%;
    }
}


.st-section {
    border: 1px solid var(--st-secondary);
    margin: 1.25rem 0;
    padding: 1.25rem 1rem 1rem;
    position: relative;

    .st-section__title {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(1rem, -50%);
        background: var(--st-background);
        margin: 0;
    }
}

.st-text--link {
    word-break: break-all;
}


.st-form--flex {
    display: flex;
    flex-wrap: wrap;

    .st-form__control {
        width: calc(50% - 1rem);

        .st-form__label {
            width: 100%;
        }
    }

    .st-form__control:nth-child(2n):not(:last-child) {
        margin-left: 1rem;
    }

    .st-form__control:last-child {
        width: 100%;
    }
}

.st-input.st-input--wider {
    width: 400px;
}
